name: Hexo Deploy

on:
  push:
    branches:
      - main # 只有当 main 分支有变动时才触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Generate and Deploy
        env:
          GH_TOKEN: ${{ secrets.HEXO_DEPLOY_KEY }}
        run: |
          npx hexo clean
          npx hexo generate
          # 这里也要注意，如果 deploy 报错，也可以尝试用 npx
          npx hexo deploy