name: Hexo Deploy

on:
  push:
    branches:
      - main # 只有当 main 分支有变动时才触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Generate and Deploy
        env:
          GH_TOKEN: ${{ secrets.HEXO_DEPLOY_KEY }}
        run: |
          # 1. 告诉虚拟机你是谁（这两行必须加，邮箱名字随便填或写你的 GitHub 账号）
          git config --global user.name "MiQiu"
          git config --global user.email "RainCnya@gmail.com"
          
          # 2. 执行原有的部署逻辑
          npx hexo clean
          npx hexo generate
          npx hexo deploy